<h1 class="text-success">{{title}}</h1>
<p class="lead">{{subTitle}}</p>
<hr>

<content>

  <br>
  <br>


  <div class="panel panel-info">
    <div class="panel-body">
      <div class="alert alert-info loading"
           *ngIf="(this.paginationTreeModels[this.activePaginationTreeModelId] == null) ? false : this.paginationTreeModels[this.activePaginationTreeModelId].isLoading">
        Loading...
      </div>

      <tree-root #tree [nodes]="nodeModel" [options]="options" [focused]="true"></tree-root>

      <!--<ul class="ul" #ul>-->
      <!--<li *ngFor="let row of dataSet">-->
      <!--{{row.name}}-->
      <!--</li>-->
      <!--</ul>-->

    </div>
    <div class="panel-footer"
         *ngIf="this.paginationTreeModels[this.activePaginationTreeModelId] != null">
      <div class="right">
        Number of loaded pages:
        <strong>{{this.paginationTreeModels[this.activePaginationTreeModelId].currentPage}}</strong> / <strong>{{this.paginationTreeModels[this.activePaginationTreeModelId].totalPages}}</strong>
      </div>
      Viewing node: <strong>{{this.paginationTreeModels[this.activePaginationTreeModelId].nodeName}}</strong>
    </div>
  </div>

  <!--<p>{{(paginationModels[0].totalRecords)}}</p>-->

  <!--<pagination [totalItems]="paginationModels[0].totalRecords"-->
  <!--[(ngModel)]="paginationModels[0].currentPage"-->
  <!--(pageChanged)="pageChanged($event)"-->
  <!--&gt;</pagination>-->


</content>
