html, body, app-root, p {
  display: block;
}

html, body, app-root {
  /*height: 100%;*/
}

body {
  margin: 10px;
}

p {
  margin: 0;
}

/*.panel-body {*/
/*height: 200px;*/
/*height: 26px;*/
/*padding: 10px 0;*/
/*padding: 0;*/
/*}*/

#tree-wrapper {
  background: #fafafa;
  margin: 20px;
  height: 74px;
  /*height: 474px;*/
  border: 1px solid #dedede;
}

tree-node,
tree-node-wrapper {
  display: block;
}

.panel-body {
  //height: 290px;
  height: 150px;
  position: relative;
  padding: 0;
}

/*.panel-body {*/
/*position: relative;*/
/*overflow: auto;*/
/*}*/

/*.ul {*/
/*padding: 0;*/
/*margin: 0;*/
/*position: absolute;*/
/*top: 0;*/
/*width: 90%;*/
/*}*/

/*.ul li {*/
/*list-style-type: none;*/
/*background: rgba(150, 0, 255, 0.29);*/
/*border: 1px dotted #9600ff;*/
/*height: 26px;*/
/*line-height: 26px;*/
/*display: block;*/
/*}*/

.loading {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9999999;
  border-radius: 0 4px 0 4px;
  padding: 10px 20px;
}

.right {
  float: right;
}
